.first {
	background-color: blue;
	width: 250px;
	height: 700px;
}
.second {
	background-color: white;
	width: 250px;
	height:700px;
}
.third {
	background-color: green;
	width: 250px;
	height: 700px;
}
.imgres {
	width: 250px;
	height:250px;
}