h1
{
	color: red;
	font-size: 20px;
}
.one
{
	color: blue;
	font-size:50px;
}
.second
{
	background-color:red;
	font-size:30px;
}
#hai{
	color:red;
	font-size:40px;
}
#hello{
	color:orange;
	font-size:50px;

}