* {
	font-family: 'roboto';
}
body {
	background-color: #eee;
}

#wrapper {
	width: 500px;
	height: 50px;
	border: 0px solid white;
	margin: 50px;
	padding: 10px;
	margin-left: 30%;
}

.main{
	width: 250px;
	height: 350%;
	margin: 10px auto;
	background-color: #fff;
	border: 2px solid #e6e6e6;
	padding: 40px 50px;
	margin-top: 75px;
}

.start {
	border: 0px solid white;
	margin-bottom: 5px;
}

img{
	height: 50px;
	width: 80px;
	margin: auto;
	margin-left: 80px;
}

.input1 {
	width: 100%;
	margin-bottom: 5px;
	padding: 8px 12px;
	border: 1px solid #dbdbdb;
	border-radius: 4px;
}
.input2 {
	width: 100%;
	margin-bottom: 8px;
	padding: 8px 12px;
	border: 1px solid #dbdbdb;
	border-radius: 4px;
}
.forgot {
	color: #003569;
	font-size: 15px;
	text-decoration: none;
}

.btn{
	width: 100%;
	background-color: #3897f0;
	color: white;
	font-weight: bold;
	cursor: pointer;
	border-radius: 4px;
	border: none;
	padding: 5px;
	margin-top: 8px;
	margin-left: 10px;
}
.secondmain {
	width: 250px;
	height: 120%;
	margin: 10px auto;
	background-color: #fff;
	border: 2px solid #e6e6e6;
	padding: 20px 50px;
}
.second2 {
	text-align: center;
}
.signup {
	text-decoration: none;
	cursor: pointer;
	color: #003569;
}